<header>
  <div class="header">
    <h1 class="heading" routerLink="/">VISHI SHARMA PHOTOGRAPHY</h1>
    <div>
      <div class="dropdown">
        <button class="dropbtn" (click)="toggleDropdown($event)">
          CATEGORIES
        </button>
        <div
          id="myDropdown"
          class="dropdown-content"
          [class.show]="isDropdownOpen"
        >
          <a routerLink="#portrait">PORTRAIT</a>
          <a href="#about">NATURE</a>
          <a href="#contact">STREET</a>
          <a href="#contact">FOOD</a>
          <a href="#contact"> BLACK & WHITE</a>
        </div>
      </div>

      <a class="contact" routerLink="/Contact">CONTACT</a>
      <a class="about"><img src="" alt="" /></a>
    </div>
  </div>
</header>
