<div class="modal">
  <div class="header">
    <h1 class="contact">Contact</h1>
    <p class="data">
      Vishi is a young photographer based in Bengaluru, India. She is passionate
      about nature, animals and the environment and the happiest while being on
      the road, exploring the beauty of this planet. Because of her interests
      she focuses on landscape and travel photography, where she prefers
      landscapes, portraits.
    </p>
  </div>
  <div class="contact-form">
    <div class="form-input">
      <label for="name">Name *</label>
      <input type="text" placeholder="Your Name.." />
    </div>
    <div class="form-input">
      <label for="email">Email *</label>
      <input type="text" placeholder="Your Email.." />
    </div>
    <div class="form-input">
      <label for="message">Message *</label>
      <textarea placeholder="Your Message.."></textarea>
    </div>
  </div>
  <div class="footer">
    <button class="submit">Submit</button>
    <button class="close" (click)="close()">close</button>
  </div>
</div>
